body {
  cursor: default;
}

.cursor {
  --cursorX: 0px;
  --cursorY: 0px;
  position: fixed;
  width: 16px;
  height: 16px;
  background: var(--primary-white, #fff);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(var(--cursorX), var(--cursorY)) translate(-50%, -50%);
  will-change: transform opacity filter clip-path box-shadow;
  opacity: 0;
}

.clicked {
  animation: glitch 0.4s ease;
}
.glitch {
  --top: 0%;
  --right: 0%;
  --bottom: 0%;
  --left: 0%;

  --rand1: 0;
  --rand2: 0;
  --rand3: 0;
  --rand4: 0;
}

@keyframes glitch {
  0%,
  100% {
    clip-path: inset(0);
    filter: drop-shadow(0 0 0 transparent) drop-shadow(0 0 0 transparent)
      drop-shadow(0 0 0 transparent);
    box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
      inset 0 0 0 transparent;
  }

  10% {
    clip-path: inset(var(--top) 0 var(--bottom) 0);

    filter: drop-shadow(calc((var(--rand1) - 0.5) * 6px) 0 0 #ff0048)
      drop-shadow(calc((var(--rand2) - 0.5) * 6px) 0 0 #00ffea)
      drop-shadow(0 calc((var(--rand3) - 0.5) * 6px) 0 #ffe600);

    box-shadow: inset calc((var(--rand1) - 0.5) * 6px)
        calc((var(--rand2) - 0.5) * 6px) 1px #ff0048,
      inset calc((var(--rand3) - 0.5) * 6px) 0 1px #00ffea,
      inset 0 calc((var(--rand4) - 0.5) * 6px) 1px #ffe600;
  }

  20% {
    clip-path: inset(var(--top) 0 var(--bottom) 0);

    filter: drop-shadow(calc((var(--rand2) - 0.5) * -6px) 0 0 #ff0048)
      drop-shadow(calc((var(--rand3) - 0.5) * 6px) 0 0 #00ffea)
      drop-shadow(0 calc((var(--rand4) - 0.5) * -6px) 0 #ffe600);

    box-shadow: inset calc((var(--rand2) - 0.5) * -6px) 0 1px #ff0048,
      inset calc((var(--rand3) - 0.5) * 6px) 0 1px #00ffea,
      inset 0 calc((var(--rand4) - 0.5) * -6px) 1px #ffe600;
  }

  50% {
    clip-path: inset(0 var(--right) 0 var(--left));

    filter: drop-shadow(
        calc((var(--rand1) - 0.5) * 6px) calc((var(--rand2) - 0.5) * 6px) 0
          #ff0048
      )
      drop-shadow(
        calc((var(--rand3) - 0.5) * -6px) calc((var(--rand4) - 0.5) * -6px) 0
          #00ffea
      )
      drop-shadow(
        calc((var(--rand4) - 0.5) * 6px) calc((var(--rand1) - 0.5) * -6px) 0
          #ffe600
      );

    box-shadow: inset calc((var(--rand1) - 0.5) * 6px) 0 1px #ff0048,
      inset calc((var(--rand3) - 0.5) * -6px) 0 1px #00ffea,
      inset calc((var(--rand2) - 0.5) * 6px) calc((var(--rand4) - 0.5) * 6px)
        1px #ffe600;
  }

  75% {
    clip-path: inset(var(--top) var(--right) var(--bottom) var(--left));

    filter: drop-shadow(
        calc((var(--rand3) - 0.5) * 6px) calc((var(--rand1) - 0.5) * 6px) 0
          #ff0048
      )
      drop-shadow(
        calc((var(--rand4) - 0.5) * -6px) calc((var(--rand2) - 0.5) * -6px) 0
          #00ffea
      )
      drop-shadow(
        calc((var(--rand2) - 0.5) * 6px) calc((var(--rand3) - 0.5) * 6px) 0
          #ffe600
      );

    box-shadow: inset calc((var(--rand1) - 0.5) * 6px) 0 0.5px #ff0048,
      inset calc((var(--rand2) - 0.5) * -6px) 0 1px #00ffea,
      inset calc((var(--rand3) - 0.5) * 6px) calc((var(--rand4) - 0.5) * 6px)
        1px #ffe600;
  }
}
.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.fade {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
