<div class="headerContainer">
  <div class="header-logo"></div>
</div>

<div class="buttonContainer">
  <button class="skipBtn">skip to main content.</button>
  <div id="media">
    <a href="https://github.com/Jakub-Laska" target="_blank">
      <img
        src="src/assets/header/github.png"
        alt="github icon"
        class="mediaIcon"
    /></a>
    <a
      href="https://www.linkedin.com/in/jakub-laska-b24639324/"
      target="_blank"
    >
      <img
        src="src/assets/header/linkedin.png"
        alt="linkedin icon"
        class="mediaIcon"
    /></a>
    <a href="mailto:jakub.laska1911@gmail.com">
      <img src="src/assets/header/gmail.png" alt="gmail icon" class="mediaIcon"
    /></a>
  </div>
  <a
    class="downloadBtn"
    href="https://jakub-laska.github.io/Resume/"
    target="_blank"
    >download my cv.</a
  >
  <div class="darkmodeContainer">
    <button class="darkmodeBtn">dark</button>
  </div>
</div>
