<div class="headerContainer">
  <div class="header-logo"></div>
</div>

<div class="buttonContainer">
  <a href="#projects" class="skipBtn">skip to main content.</a>
  <div id="media">
    <a href="https://github.com/Jakub-Laska" target="_blank">
      <img src="/header/github.png" alt="github icon" class="mediaIcon mediaLinkGithub" /></a>
    <a href="https://www.linkedin.com/in/jakub-laska02" target="_blank">
      <img src="/header/linkedin.png" alt="linkedin icon" class="mediaIcon mediaLinkLinkedin" /></a>
    <a href="mailto:jakub.laska1911@gmail.com?subject=Portfolio contact&body=Hi Jakub,">
      <img src="/header/gmail.png" alt="gmail icon" class="mediaIcon mediaLinkGmail" /></a>
  </div>
  <a class="downloadBtn" href="https://jakub-laska.github.io/Resume/" target="_blank">download my cv.</a>
  <button id="musicBtn">▶ Music</button>

  <iframe id="ytPlayer" width="0" height="0" src="" allow="autoplay" style="display: none;"></iframe>
  <div class="darkmodeContainer">
    <button class="toggleTheme headerThemeToggle active">dark</button>
  </div>
</div>