<iframe
  src="https://my.spline.design/untitled-XxLcFu5CM4JO2jSdHMW9DEIh/"
  frameborder="0"
  class="spline"
  loading="lazy"
></iframe>
<spline-viewer
  loading="lazy"
  class="spline"
  hint
  loading-anim-type="spinner-big-dark"
  url="https://prod.spline.design/VNQOafK07bFkGL23/scene.splinecode"
>
  <img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAATCAYAAADxlA/3AAAJ+ElEQVR4AQCBAH7/AAg1zQAINc0ACDXNAAg1zQAINc0A
CDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQUINc0QCDXNGQg1zSEINc0mCDXNKAg1zSYINc0iCDXNHAg1zRUINc0MCDXNAwg1zQAINc0ACDXNAAg1zQAI
Nc0ACDXNAAg1zQAINc0AAIEAfv8ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0BCDXNDAg1zRcINc0gCDXNKAg1zSwINc0u
CDXNLQg1zSkINc0jCDXNGwg1zRIINc0JCDXNAQg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAAgQB+/wAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXN
AAg1zQAINc0ACDXNAgg1zQwINc0XCDXNIgg1zSwINc0zCDXNOAg1zToINc04CDXNNAg1zS0INc0lCDXNHAg1zRMINc0LCDXNBAg1zQAINc0ACDXNAAg1zQAINc0A
CDXNAACBAH7/AAg1zQYINc0ECDXNAgg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQUINc0OCDXNGQg1zSQINc0vCDXNOAg1zUAINc1ECDXNRgg1zUQINc1ACDXN
OQg1zTAINc0nCDXNHgg1zRUINc0NCDXNBwg1zQIINc0ACDXNAAg1zQAINc0AAIEAfv8ACDXNDAg1zQsINc0ICDXNBQg1zQIINc0ACDXNAAg1zQIINc0HCDXNDgg1
zRgINc0iCDXNLgg1zTkINc1CCDXNSgg1zU4INc1PCDXNTQg1zUkINc1BCDXNOQg1zS8INc0lCDXNHAg1zRQINc0OCDXNCAg1zQUINc0CCDXNAQg1zQAAgQB+/wAI
Nc0NCDXNDAg1zQkINc0HCDXNBAg1zQMINc0DCDXNBQg1zQsINc0SCDXNHAg1zScINc0yCDXNPgg1zUcINc1PCDXNUwg1zVQINc1SCDXNTQg1zUUINc08CDXNMgg1
zSgINc0eCDXNFgg1zQ8INc0KCDXNBgg1zQMINc0CCDXNAQCBAH7/AAg1zQkINc0HCDXNBQg1zQMINc0BCDXNAAg1zQAINc0DCDXNCQg1zREINc0bCDXNJgg1zTII
Nc09CDXNRwg1zU4INc1SCDXNUwg1zVEINc1MCDXNRAg1zTsINc0wCDXNJgg1zRwINc0UCDXNDAg1zQcINc0DCDXNAAg1zQAINc0AAIEAfv8ACDXNAQg1zQAINc0A
CDXNAAg1zQAINc0ACDXNAAg1zQAINc0DCDXNDAg1zRYINc0iCDXNLgg1zTkINc1DCDXNSgg1zU4INc1PCDXNTQg1zUcINc0/CDXNNgg1zSsINc0hCDXNFwg1zQ4I
Nc0HCDXNAQg1zQAINc0ACDXNAAg1zQAAgQB+/wAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0GCDXNEQg1zR0INc0pCDXNNAg1zT4INc1F
CDXNSgg1zUoINc1ICDXNQgg1zToINc0xCDXNJgg1zRwINc0SCDXNCQg1zQIINc0ACDXNAAg1zQAINc0ACDXNAACBAH7/AAg1zQAINc0ACDXNAAg1zQAINc0ACDXN
AAg1zQAINc0ACDXNAAg1zQMINc0NCDXNGQg1zSUINc0xCDXNOwg1zUIINc1GCDXNRwg1zUUINc0/CDXNNwg1zS0INc0jCDXNGQg1zQ8INc0GCDXNAAg1zQAINc0A
CDXNAAg1zQAINc0AAIEAfv8ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAwg1zQ4INc0ZCDXNJQg1zTEINc06CDXNQgg1zUYINc1HCDXN
RAg1zT8INc03CDXNLQg1zSMINc0ZCDXNDwg1zQcINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAAgQB+/wAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1
zQAINc0GCDXNEAg1zRwINc0oCDXNMwg1zTwINc1ECDXNSAg1zUgINc1GCDXNQAg1zTkINc0wCDXNJgg1zRwINc0TCDXNCwg1zQQINc0ACDXNAAg1zQAINc0ACDXN
AACBAH7/AAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAgg1zQoINc0UCDXNHwg1zSsINc01CDXNPwg1zUYINc1JCDXNSgg1zUgINc1CCDXNOwg1
zTIINc0oCDXNHwg1zRYINc0PCDXNCQg1zQQINc0BCDXNAAg1zQAINc0AAIEAfv8ACDXNBQg1zQMINc0BCDXNAAg1zQAINc0ACDXNAAg1zQAINc0FCDXNDAg1zRYI
Nc0gCDXNKwg1zTYINc0/CDXNRQg1zUkINc1JCDXNRwg1zUIINc06CDXNMgg1zSgINc0fCDXNFwg1zRAINc0LCDXNBwg1zQQINc0CCDXNAQg1zQEAgQB+/wAINc0G
CDXNBQg1zQMINc0ACDXNAAg1zQAINc0ACDXNAAg1zQQINc0LCDXNEwg1zR4INc0oCDXNMgg1zToINc1BCDXNRAg1zUUINc1CCDXNPQg1zTYINc0tCDXNJAg1zRwI
Nc0UCDXNDQg1zQgINc0FCDXNAgg1zQEINc0ACDXNAACBAH7/AAg1zQQINc0DCDXNAQg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQUINc0NCDXNFwg1zSEINc0q
CDXNMgg1zTgINc07CDXNPAg1zTkINc00CDXNLQg1zSUINc0cCDXNFAg1zQwINc0GCDXNAQg1zQAINc0ACDXNAAg1zQAINc0AAIEAfv8ACDXNAAg1zQAINc0ACDXN
AAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQQINc0OCDXNFwg1zSAINc0oCDXNLQg1zTAINc0wCDXNLgg1zSkINc0iCDXNGgg1zREINc0JCDXNAgg1zQAINc0A
CDXNAAg1zQAINc0ACDXNAAg1zQAAgQB+/wAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQUINc0OCDXNFwg1zR4INc0jCDXN
Jgg1zSYINc0jCDXNHgg1zRcINc0PCDXNBwg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAGBAH7/AAg1zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1
zQAINc0ACDXNAAg1zQAINc0ACDXNAAg1zQgINc0RCDXNGAg1zR0INc0gCDXNIAg1zR0INc0YCDXNEQg1zQkINc0BCDXNAAg1zQAINc0ACDXNAAg1zQAINc0ACDXN
AAg1zQAINc0A1KepZrTd3oQAAAAASUVORK5CYII="
    loading="lazy"
    alt="Spline preview"
  />
</spline-viewer>
