<div class="splineContainer">
  <h1>Spline 3D Model</h1>
  <p>
    This 3D model was created using Spline, a powerful tool for designing and
    animating 3D content for the web. Explore the interactive features by
    clicking and dragging the model. It is a fully interactive 3D mini keyboard
    — you can press the corresponding keys on your computer keyboard. Each key
    responds visually when activated, giving you a realistic and engaging typing
    experience. Feel free to experiment and discover how the model reacts to
    different interactions!
  </p>

  <script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.12.29/build/spline-viewer.js"
  ></script>
  <spline-viewer
    url="https://prod.spline.design/VdZROLjzHjfNMe3B/scene.splinecode"
  ></spline-viewer>
</div>
