.background-gradient {
  position: fixed;
  width: clamp(128px, 20vw, 200px);
  height: clamp(128px, 20vw, 200px);
  pointer-events: none;
  background-repeat: no-repeat;
  filter: blur(36px);
  animation: float 2.5s ease-in-out infinite;
  will-change: filter;
  transition: all 2s;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(2)
  }

  50% {
    transform: translate(-16px, -16px) scale(2.1)
  }

  100% {
    transform: translate(0, 0) scale(2)
  }
}

.background-gradient.left {
  bottom: 40%;
  left: 0%;
  background-image: url('./assets/background/background-gradient-left.png');
}

.background-gradient.left.horizontal {
  bottom: 70%;
  left: 90%;
  rotate: 180deg;
}

.background-gradient.bot {
  bottom: -20%;
  left: 50%;
  background-image: url('./assets/background/background-gradient-bot.png');
  animation-delay: 1s;
}

.background-gradient.bot.horizontal {
  bottom: 40%;
  left: -10%;
  rotate: 180deg;
}

.background-gradient.right {
  bottom: 90%;
  left: 90%;
  background-image: url('./assets/background/background-gradient-right.png');
}

.background-gradient.right.horizontal {
  bottom: -20%;
  left: 50%;
  rotate: 180deg;
  animation-delay: 1s;
}

.background-grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: url('./assets/background/background-grain.png');
  background-repeat: repeat;
}