.background-gradient {
  --leftx: -10vw;
  --lefty: 40vh;
  --rightx: 100vw;
  --righty: 0vh;
  --botx: 60vw;
  --boty: 100vh;
  position: fixed;
  width: clamp(128px, 20vw, 200px);
  height: clamp(128px, 20vw, 200px);
  border-radius: 100%;
  pointer-events: none;
  filter: blur(clamp(16px, 4vw, 64px));
  z-index: -1;
  transition: transform 1s ease;
}

.background-gradient.left {
  transform: translate(var(--leftx), var(--lefty)) scale(2);
  rotate: 0deg;
  background: radial-gradient(circle at center, var(--primary-white), var(--primary-darkBlue), var(--primary-darkBlue));
  animation-delay: 0s;
  animation: floatLeft 2.5s ease-in-out infinite;
  transition: transform 0.8s ease;
}
.background-gradient.right {
  transform: translate(var(--rightx), var(--righty)) scale(2);
  rotate: 0deg;
  background: radial-gradient(circle at center, var(--primary-white), var(--primary-blue), var(--primary-blue));
  animation-delay: 0s;
  animation: floatRight 2.5s ease-in-out infinite;
}
.background-gradient.bot {
  transform: translate(var(--botx), var(--boty)) scale(2);
  rotate: 0deg;
  background: radial-gradient(circle at center, var(--primary-white), var(--accent), var(--accent));
  animation-delay: 1s;
  animation: floatBot 2.5s ease-in-out infinite;
}

.container {
  position: relative;
  -webkit-mask-image: linear-gradient(black, black);
  mask-image: linear-gradient(black, black);
  mask-composite: intersect;
  border-bottom-right-radius: 2vw;
  background-color: black;
  z-index: 1;
}
.container::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('./assets/background/background-grain.png');
  background-repeat: repeat;
  pointer-events: none;
  z-index: 0;
}