.background-gradient {
  --leftx: -10vw;
  --lefty: 40vh;
  --rightx: 100vw;
  --righty: 0vh;
  --botx: 60vw;
  --boty: 100vh;
  position: fixed;
  width: clamp(128px, 20vw, 200px);
  height: clamp(128px, 20vw, 200px);
  border-radius: 100%;
  pointer-events: none;
  filter: blur(clamp(16px, 4vw, 64px));
  z-index: -1;
  transition: transform 2s ease, background 5s ease;
}

.background-gradient.left {
  transform: translate(var(--leftx), var(--lefty)) scale(2);
  background: var(--primary-darkBlue);
  animation-delay: 0s;
}
.background-gradient.right {
  transform: translate(var(--rightx), var(--righty)) scale(2);
  background: var(--primary-blue);
  animation-delay: 0s;
}
.background-gradient.bot {
  transform: translate(var(--botx), var(--boty)) scale(2);
  background: var(--accent);
  animation-delay: 1s;
}
.gradientContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  animation: wiggle 2s infinite alternate ease-in-out, rotateOnLoad 5s;
}
@keyframes rotateOnLoad {
  0% {
    transform: rotate(180deg) scale(2);
    opacity: 0.01;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}   
@keyframes wiggle {
    0% {
    transform: translate(0px, 0px) scale(1);
  }
  100% {
    transform: translate(10px, 10px) scale(1.01);
  }
}

.container {
  position: relative;
  -webkit-mask-image: linear-gradient(black, black);
  mask-image: linear-gradient(black, black);
  mask-composite: intersect;
  border-bottom-right-radius: 2vw;
  background-color: black;
  z-index: 1;
}
.container::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./assets/background/background-grain.png");
  background-repeat: repeat;
  pointer-events: none;
  z-index: 0;
}
