#footer {
    width: 100%;
    height: 90vh;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--horizontal-padding);
    overflow: hidden;
    background: var(--primary-black);
    transition: filter 0.1s ease-in-out;
    will-change: filter;
    padding: 0;
}

body,
#foooter {
    background-color: var(--primary-black);
}
#footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
    position: relative;
}

#footer .logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    line-height: 1;
    color: var(--primary-white-10opacity);
    letter-spacing: -4vw;
    opacity: .1;
    transform: translateY(2.8vh);
}

#footer span {
    margin-left: 2.5vw;
}

#footer h1 {
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    font-size: 5vw;
    text-align: left;
    width: 100%;
    padding: var(--horizontal-padding);

}

#footer .signature {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    opacity: .1;
    animation: breathe 2s ease-in-out infinite;
    font-size: .5em;
}

@keyframes breathe {

    0%,
    100% {
        opacity: 0.1;
        text-shadow: none;
    }

    25% {
        opacity: 0.15;
        text-shadow: 0 0 20px var(--primary-white);
    }

    50% {
        opacity: 0.22;
        text-shadow: 0 0 50px var(--primary-white);
    }

    75% {
        opacity: 0.15;
        text-shadow: 0 0 20px var(--primary-white);
    }
}

.quote {
    position: absolute;
    bottom: 13vh;
    right: clamp(12px, 6vw, 100px);
    line-height: 1;
    opacity: .1;
    display: flex;
    animation: breathe 2s ease-in-out infinite;
}

.quote div {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.quote button {
    padding: 5px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border-radius: 6px;
    font-weight: 900;
}

.links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 2vw;
    padding: var(--horizontal-padding);

}
.contact-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.contact-links div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2vw;
}
.links a,
.links button {
    color: var(--primary-white-10opacity);
    transition: color 0.2s ease-in-out;
    font-weight: 100;
    text-transform: capitalize;
    text-align: left;
    transition: color .5s;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    display: inline-flex;
}
.links a:hover,
.links button:hover {
    color: var(--accent);
}
