#footer{
    width: 100%;
    height: 80vh;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: none;
    padding: var(--horizontal-padding);
    overflow: hidden;
}
body,
#foooter {
    background-color: var(--primary-black);
}
#footer .logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    line-height: 1;
    color: var(--primary-white-10opacity);
    letter-spacing: -4vw;
    opacity: .1;
    transform: translateY(2.8vh);
}
#footer span {
    margin-left: 2.5vw;
}
#footer h1 {
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    font-size: 5vw;
    text-align: left;
    width: 100%;
}
#footer .signature{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    opacity: .1;
    animation: breathe 6s ease-in-out infinite;
    font-size: .5em;
}
@keyframes breathe {
  0%, 100% {
    opacity: 0.1;
    text-shadow: none;
  }
  25% {
    opacity: 0.15;
    text-shadow: 0 0 10px var(--primary-white);
  }
  50% {
    opacity: 0.22;
    text-shadow: 0 0 25px var(--primary-white);
  }
  75% {
    opacity: 0.15;
    text-shadow: 0 0 10px var(--primary-white);
  }
}
.quote{
    position: absolute;
    bottom: 13vh;
    right: clamp(12px, 6vw, 100px);
    line-height: 1;
    opacity: .1;
    display: flex;
    animation: breathe 6s ease-in-out infinite;
}
.quote div {
    display: flex;
    gap: 1vw;
    align-items: center;
}
.quote button{
    padding: 5px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border-radius: 6px;
    font-weight: 900;
}