#footer{
    width: 100%;
    height: 80vh;
    position: sticky;
    bottom: 0;
    z-index: -4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: none;
    padding: var(--horizontal-padding);
}
body,
#foooter {
    background-color: var(--primary-black);
}
#footer .logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    line-height: 1;
    color: var(--primary-white-10opacity);
    letter-spacing: -4vw;
    text-align: left;
    opacity: .1;
}
#footer span {
    margin-left: 2.5vw;
}
#footer h1 {
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    font-size: 5vw;
    text-align: left;
    width: 100%;
}
#footer .signature{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    opacity: .1;
}