#footer{
    width: 100%;
    height: 80vh;
    position: sticky;
    bottom: 0;
    z-index: -4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: transparent;
    transition: none;
    opacity: 0;
}
body,
#foooter {
    background-color: var(--primary-black);
}
#footer .name {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    line-height: 1;
    color: var(--primary-white-10opacity);
    letter-spacing: -4vw;
    text-align: left;
}
#footer span {
    margin-left: 2.5vw;
}