.highlight {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--primary-blue-10opacity), transparent);
    pointer-events: none;
    transition: left 0.2s ease, opacity 0.3s ease;
    opacity: 0;
}

#header {
    position: fixed;
    opacity: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary-black-90opacity);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-image: url('./assets/background/background-grain.png');
    transition: none;
    opacity: 0;
}

.headerContainer {
    min-height: clamp(64px, 8vw, 96px);
    width: 100%;
    display: flex;
    position: relative;
    padding: var(--horizontal-padding);
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: inline-block;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: clamp(14px, 4vw, 48px);
    border-right: 1px solid var(--primary-white-10opacity);
    animation: blink 0.9s step-end infinite;
    cursor: pointer;
    transition: transform 0.7s ease, filter 0.7s ease, text-shadow 0.7s ease;
    padding-right: 4px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.burger {
    width: clamp(24px, 2vw, 30px);
    height: clamp(24px, 2vw, 24px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger span {
    display: block;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
    transform-origin: center;
}

.burger:hover span:nth-child(1) {
    transform: translateY(-4px);
}

.burger:hover span:nth-child(3) {
    transform: translateY(4px);
}

.burger.active span:nth-child(1) {
    transform: rotate(90deg) translate(10px, 0);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-180deg) translate(0, 10px);
}

.burger.active {
    transform: rotate(45deg);
}

.header-logo:hover,
.burger:hover,
.buttonContainer button:hover,
.buttonContainer .downloadBtn:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
    opacity: 1;
}

.buttonContainer {
    display: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 6px clamp(12px, 6vw, 100px);
    background-color: var(--primary-black-90opacity);
    border-top: 1px solid var(--primary-white-10opacity);
}

.visible {
    display: flex;
    height: fit-content;
}

.buttonContainer .skipBtn,
.buttonContainer .downloadBtn,
.buttonContainer .darkmodeBtn {
    text-transform: uppercase;
    color: var(--primary-white);
    text-align: center;
    font-size: clamp(10px, 2vw, 24px);
    letter-spacing: 1px;
}

#media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.mediaIcon {
    max-width: clamp(24px, 2vw, 48px);
    transition: transform 0.5s ease, filter 0.5s ease;
    background-color: var(--primary-white-50opacity);
    border: 1px solid var(--primary-white-10opacity);
    border-radius: 50%;
}

.mediaIcon:hover {
    transform: rotate(360deg) scale(1.05);
    filter: brightness(1.5);
    cursor: pointer;
}

.darkmodeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkmodeBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkmodeBtn::before,
.darkmodeBtn::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: var(--primary-blue);
    transition: all 0.3s ease;
}

.darkmodeBtn::after {
    width: 3em;
    height: 1em;
    border-radius: 12px;
    background-color: var(--primary-blue-50opacity);
    margin-left: 0.5em;
}

.darkmodeBtn::before {
    width: 0.7em;
    height: 0.7em;
    position: absolute;
    right: 0.1em;
}

.darkmodeBtn.active::before {
    right: 2.1em;
    background-color: var(--accent);
}

.darkmodeBtn.active::after {
    background-color: var(--accent);
    opacity: 0.5;
}

@media (max-width: 600px) and (orientation: portrait) {
    .buttonContainer {
        flex-direction: column;
        padding: 0;
        background-color: transparent;
    }

    .buttonContainer .skipBtn,
    .buttonContainer .downloadBtn,
    .buttonContainer .darkmodeContainer,
    .buttonContainer #media {
        width: 100%;
        padding: 12px;
    }

    .buttonContainer .skipBtn {
        background-color: rgba(0, 0, 0, 0.1);
    }

    #media {
        justify-content: center;
        gap: 32px;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .buttonContainer .downloadBtn {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .buttonContainer .darkmodeContainer {
        background-color: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .buttonContainer .darkmodeBtn {
        pointer-events: none;
    }

    .buttonContainer .skipBtn:hover,
    .buttonContainer .downloadBtn:hover,
    .buttonContainer .darkmodeContainer:hover,
    .buttonContainer #media:hover {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1.5);
        background-color: rgba(0, 0, 0, 0.4);
    }
}