.project {
    border: solid 1px red;
    height: 98vh;
    width: 100vw;
    flex-shrink: 0;
}

.buffer {
    height: 98vh;
    width: 25vw;
    flex-shrink: 0;
    background-color: rgba(137, 43, 226, 0.1);
    
}

.sticky_parent {
    height: 800vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.scroll_section {
    display: flex;
    align-items: center;
    height: 100%;
    will-change: transform;
    transition: transform 0.2s ease-out;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: var(--primary-dark-50opacity);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary-white-50opacity);

}

body::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.fake-scrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3px;
    background: var(--primary-dark-50opacity);
    border-radius: 3px;
    opacity: 0;
}

.fake-scrollbar .bar {
    height: 100%;
    background: var(--primary-white-50opacity);
    border-radius: 3px;
    transition: none;
}

.bar:hover {
    background: var(--accent);
}

.bar:active {
    background: var(--accent);
}

.show-scrollbar .fake-scrollbar {
    opacity: 1;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}

.fake-scrollbar {
    cursor: pointer;
}

.fake-scrollbar:active {
    cursor: grabbing;

}