#mainTechStack{
    margin-bottom: 100vh;
}
.carouselContainer {
    mask: linear-gradient(90deg, transparent, white 36%, white 64%, transparent);
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 4vw, 64px);
}

.carousel-track {
    display: flex;
    gap: clamp(24px, 4vw, 64px);
    align-items: center;
    animation: scroll 45s linear infinite;
    width: max-content;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 32px));
    }
}

.skills {
    animation: scrollSkills 60s linear infinite;
}

@keyframes scrollSkills {
    from {
        transform: translate(calc(-50% - 32px));
    }

    to {
        transform: translate(0);
    }
}

.techIcon {
    height: clamp(64px, 6vw, 128px);
}

.skillIcon {
    height: clamp(32px, 4vw, 96px);
}