#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: clamp(36px, 10vh, 80px);
  padding: var(--horizontal-padding);
  background-color: var(--primary-dark-25opacity);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  overflow: hidden;
}

.highlight {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      var(--primary-blue-10opacity),
      transparent);
  pointer-events: none;
  transition: left 0.2s ease, opacity 0.3s ease;
  opacity: 0;
}

.navbar-logo {
  display: inline-block;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: clamp(12px, 2vw, 64px);
  border-right: 1px solid var(--primary-white);
  line-height: 1.1em;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.navbar-logo:hover,
.burger:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.5);
  text-shadow: var(--primary-textshadow);
}

.burger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  right: clamp(12px, 6vw, 100px);
}

.burger span {
  display: block;
  height: 4px;
  background-color: #fff;
  border-radius: 0px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger:hover span:nth-child(1) {
  transform: translateY(-4px);
}

.burger:hover span:nth-child(3) {
  transform: translateY(4px);
}

.burger.active span:nth-child(1) {
  transform: rotate(90deg) translate(10px, 0px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-180deg) translate(0px, 10px);
}

.burger.burger.active {
  transform: rotate(45deg);
}

.buttonContainer {
  display: none;
}

@media (min-width: 600px) {
  .burger {
    display: none;
  }

  .buttonContainer {
    position: absolute;
    right: clamp(12px, 6vw, 100px);
    max-width: 40%;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    text-align: center;
    line-height: 1;
  }
  .buttonContainer .downloadBtn,
  .buttonContainer .skipBtn,
  .darkmodeBtn {
    color: var(--primary-white);
    font-size: clamp(6px, .9vw, 24px);
    text-transform: uppercase;
  }
  #media {
    display: flex;
    gap: 8px;
  }
  .mediaIcon {
    max-height: clamp(24px, 2vw, 36px);
    max-width: clamp(24px, 2vw, 36px);
    transition: 0.5s;
    background-color: var(--primary-blue-50opacity);
    border: solid 1px var(--primary-blue-50opacity);
    border-radius: 100%;
  }
  .mediaIcon:hover {
    transform: rotate(360deg) scale(1.05);
        filter: brightness(1.5);
    opacity: 1;
    cursor: pointer;
  }
  .darkmodeBtn{
    display: flex;
    align-items: center;
    position: relative;
  }
  .darkmodeBtn::after{
    content: '';
    display: inline-block;
    height: 1em;
    width: 3em;
    border-radius: 12px;
    background-color: var(--primary-blue-50opacity);
    margin-left: 0.5em;
  }
  .darkmodeBtn::before{
    content: '';
    display: inline-block;
    height: .8em;
    width: .8em;
    border-radius: 100%;
    background-color: var(--primary-blue);
    position: absolute;
    right: .2em;
  }
  .darkmodeBtn.active::before{
    right: 2em;
    background-color: var(--accent);
  }
    .darkmodeBtn.active::after{
    background-color: var(--accent);
    opacity: .5;
  }
  .buttonContainer .downloadBtn:hover,
  .buttonContainer button:hover{
    transform: scale(1.05);
    filter: brightness(1.5);
    opacity: 1;
  }
}