#splash-screen {
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    transition: top 1s;
}
#splash-screen p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    line-height: 1;
    color: var(--primary-white-10opacity);
    letter-spacing: -4vw;
    text-align: left;
    opacity: 0;
}
#splash-screen span {
    margin-left: 2.5vw;
}
#splash-screen p.active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

#splash-screen p.fade {
    opacity: 0;
    transform: translateY(-30vh);
    transition: all 0.5s ease-in-out;
}
