:root{
    /* colors */
    --primary-white: #DADFF7;
    --primary-white-50opacity: #dadff780;
    --primary-white-10opacity: rgba(218, 223, 247, 0.1);
    --primary-dark: #232C33;
    --primary-dark-50opacity: #232c3380;
    --primary-blue: #A0C1D1;
    --primary-blue-50opacity: #a0c1d180;
    --accent: #EABA6B;
    /* fonts */
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Bebas Neue", sans-serif;
    /* shadows */
    --primary-boxshadow: 4px 4px 8px var(--primary-dark-50opacity);
    --primary-textshadow: 2px 2px 12px var(--primary-blue-50opacity);
    /* paddings */
    --horizontal-padding: 0 24px;
}
body{
    font-family: "Montserrat", sans-serif;
    height: 600vh;
}
#container {
  padding: var(--horizontal-padding);
}