.background-gradient {
  --leftx: -10vw;
  --lefty: 40vh;
  --rightx: 100vw;
  --righty: 0vh;
  --botx: 60vw;
  --boty: 100vh;
  position: fixed;
  width: clamp(128px, 20vw, 256px);
  height: clamp(128px, 20vw, 256px);
  pointer-events: none;
  transition: transform 2s ease-in-out, background 10s linear,
    box-shadow 0.5s linear;
  border-radius: 50%;
  filter: saturate(0.6) blur(8px);
  box-shadow: inset 0 0 0 transparent;
  will-change: transform filter box-shadow;
}
.flash {
  box-shadow: inset 20px 0 10px var(--random-color),
    inset -64px 0 32px var(--primary-white-10opacity),
    inset 0 32px 32px var(--primary-white-50opacity);
}
.background-gradient.left {
  transform: translate(var(--leftx), var(--lefty)) scale(2);
  background: var(--primary-darkBlue);
}
.background-gradient.right {
  transform: translate(var(--rightx), var(--righty)) scale(2);
  background: var(--primary-blue);
  animation-delay: 3.3s;
}
.background-gradient.bot {
  transform: translate(var(--botx), var(--boty)) scale(2);
  background: var(--accent);
  animation-delay: 6.6s;
}
.gradientContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  animation: rotateOnLoad 4s ease forwards;
}
.gradientContainerWiggle {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  animation: wiggle 3s infinite alternate ease-in-out;
}
@keyframes rotateOnLoad {
  0% {
    transform: rotate(180deg) scale(0.1);
    opacity: 0.01;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes wiggle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.container {
  position: relative;
  -webkit-mask-image: linear-gradient(black, black);
  mask-image: linear-gradient(black, black);
  mask-composite: intersect;
  border-bottom-right-radius: 64px;
  background-color: black;
  z-index: 9;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/background/background-grain.png");
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.6;
}
